#results {
  display: none;
}

#results2 {
  display: none;
}

#formTwo {
  float: right;
}

#score1 {
  display: none;
}

ul {
  list-style-image: url("../img/dice.png");
}

body {
  background-color: black;
  color: white;
}
